* {box-sizing:border-box}

:root {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: "Ubuntu", sans-serif;
}

.pageTopSpacer {
    display: block;
    width: 100%;
    height: 100px;
}

#aboutNav {
    display: block;
    height: 70px;
    width: 100%;
}

#projectNav {
    display: block;
    height: 70px;
    width: 100%;
}

#contactNav {
    display: block;
    height: 70px;
    width: 100%;
}

@media only screen and (max-width: 413px) {
    .pageTopSpacer {
        display: block;
        width: 100%;
        height: 130px;
    }
    
    #aboutNav {
        display: block;
        height: 85px;
        width: 100%;
    }
    
    #projectNav {
        display: block;
        height: 85px;
        width: 100%;
    }
}

/*  
Colors to use:
#E27D60 (terracotta)
#85DCB0 (lighter green)
#E8A87C (lighter orange)
#C38D9E (pinkish)
#41B3A3 (darker green)
*/

/* STYLING FOR HEADER SECTION */
/* Includes the nav bar, menu button and sidebar. */

body {
    background-color: #FAFAFA;
}

header {
    display: block;
    position: fixed;
    margin: 0;
    width: 100%;
    background:#FAFAFA;
    z-index: 1;
}

.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.myName {
    padding-left: 27px;
}

.pageLinksContainer {
    padding-right: 19.2px;
}

.pageLinksContainer ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

.pageLinksContainer a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 600;
}

.pageLinksContainer a:hover, .pageLinksContainer a:active {
    color: #E8A87C;
}

.menuButton {
    display: none;
    margin-right: auto;
    margin-left: 32px;
    margin-top: 28px;
}
.menuButton:hover {
    cursor: pointer;
}
.menuPic {
    width: 45px;
}

.sidebar {
    display: block;
    position: fixed;
    top: 0;
    height: 100%;
    width: 0px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FAFAFA;
}

.sidebar ul {
    padding: 0;
    margin: 0;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
}

.sidebar li {
    margin: 8px 0;
    text-align: center;
}

.sidebar a {
    text-decoration: none;
    color: black;
    font-size: 2.5rem;
    font-weight: 600;
}

.sidebar a:hover, .sidebar a:active {
    color: #E8A87C;
}

@media only screen and (max-width: 700px) {
    .topBar {
        justify-content: center;
    }

    .myName {
        padding-left: 0;
        padding-right: 61px;
        margin-right: auto;
    }

    .pageLinksContainer {
        display: none;
    }

    .menuButton {
        display: block;
        align-self: flex-start;
    }

    .menuPic {
        width: 30px
    }

    .sidebar a {
        font-size: 2rem;
    }
}

/* STYLING FOR MAIN CONTENT */
/* Includes the "About Me" and "My Projects" section */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#FAFAFA;
    max-width: 1440px;
    margin: 0 auto;
}

h1 {
    font-size: 2.7rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.7rem;
}

p {
    font-size: 1.3rem;
}

.aboutMeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    max-width: 700px;
}

#aboutMe {
    align-self: center;
}

.webDevUnderline {
    display: inline-block;
    position: relative;
}
.webDevUnderline::after {
    content: "";
    background: #41b3a4a8;
    position: absolute;
    display: block;
    width: 100%;
    height: 9.6px;
    margin-top: -9.6px;
    margin-left: 0;
    z-index: 0;
}

.headerHighlight {
    background-color: #E27D60;
    color: white;
    padding: 5px 10px;
}

#myProjects {
    text-align: center;
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(2, 0.8fr);
    grid-template-rows: repeat(2, 0.8fr);
    row-gap: 50px;
    column-gap: 30px;
}

.projectCard {
    padding: 20px;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.projectPic {
    width:100%;
}

.githubLink {
    padding: 4px 5px;
    background-color: #C38D9E;
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

.githubLink:hover, .githubLink:active {
    color: #85DCB0;
}

@media only screen and (max-width: 800px) {
    .aboutMeContainer {
        width: 90%;
    }

    .cardContainer {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width: 413px) {
    .projectCard {
        max-width: 1000px;
    }

    h1 {
        font-size: 2.4rem;
    }
    
    h2 {
        font-size: 1.8rem;
    }
    
    h3 {
        font-size: 2rem;
    }

    p {
        font-size: 1.3rem;
    }

    .githubLink {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 413px) {
    .projectCard {
        padding: 20px 8px;
    }
}

/* STYLING FOR FOOTER SECTION */
/* Includes the "Contact Me" section. */

.contactMeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#FAFAFA;
    margin-bottom: 50px;
}

.contactMeContainer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-content: center;
}

.resumeLink {
    text-decoration: none;
    color: #E27D60;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 8px;
    margin: 5px;
    border: 3px solid #E27D60;
}

.resumeLink:hover, .resumeLink:active {
    color: #85DCB0;
    background-color: #E27D60;
}

@media only screen and (max-width: 413px) {
    .resumeLink {
        font-size: 1rem;
    }
}